#container-wrapper {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

.App {
    height: 100vh;
    text-align: center;
    margin-bottom: 120px;
}

body {


}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.item-name {


}

.item-target {
    font-size: 20px;
    color: black;
}

.track-date {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.track-stats {
    height: 123px;
}

.top-nav-item {
    color: white;
    font-size: 18px;
    height: 34px;
    padding: 3px;
    font-size: 21px;
}

.item-card {
    justify-content: center;
    align-items: center;
}

.stats-circles {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.stats-circles>* {
    height: 150px;
}

.item-icon {
    font-size: 35px;
    padding: 9px;
}

.item-information {
    margin: 7px 5px 0 7px;
    color: gray !important;
}

.track-card-md {
    font-weight: bold;
    font-size: 20px;
}

.card-created-at {
    font-size: 18px;
    font-weight: 500;
}

.card-icon {
    text-align: start;

    /* margin-left: 22px; */
    padding-left: 7px;
}

.item-information a {
    color: gray !important;
}

#navigation-bar svg {
    font-size: 30px;
}

#navigation-bar {
    height: 75px;
    justify-content: space-around;
}

#navigation-bar a {
    color: gray !important;
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.cards-measurement>* {
    width: 45%;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.cards-measurement a {
    text-decoration: none !important;
    color: none;
}

#pounds-lost svg {
    height: 120px;
}

#pounds-to-lose svg {
    height: 90px;
}

form>* {
    padding: 5px;
}

.trackit  svg {

  width: 94px;
 }